.body {
            background-image: url(abstract-uv-ultraviolet-light-composition.jpg);
            background-size: stretch;
        }

        .overskrift {
            color: rgb(255, 255, 255);
            text-align: center;
            border: 2px solid black;
            margin: 1em;
            padding: 1em;
            background-color: rgba(0, 0, 0, 0.589);
        }

        .innledendeTekst {
            color: white;
            text-align: center;
            border: 2px solid rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.589);
            margin: 2em;
            padding: 1em;
        }

        #tallOgKnapper {
            color: white;
            text-align: center;
            border: 2px solid rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.589);
        }